<div class="container">
    <h1>Projects</h1>
    <p>Find all the amazing projects right here</p>
    <div class="list-projects">
        <ul>
            <% @projects.each do |project| %>
                <li>Name: <%= project.name %>, Category <%= project.category %></li>
            <% end %>
        </ul>
    </div>
    <div class="new-project">
        <%= link_to 'Add new project', new_project_path %>
    </div>
</div>

